:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* new */
/* Universal Selector */
* {
  box-sizing: border-box;
}

/* decare Global variables */
:root {
  --light-dark: #707a7a;
  --white: white;
  --dark-gray: #282829;
  --light-blue: rgb(123, 234, 248);
  --dark-blue: rgb(42, 42, 126);
  --body-bg-color: #124559;
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: Helvetica, cursive, Verdana, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
}

.title a {
  background: var(--light-blue);
  font-size: 30px;
  color: var(--dark-blue);
  margin-right: 15%;
  padding: 2px 10px;
  position: absolute;
  right: 2px;
  top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: darkgray;
}

header span {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  margin: 0px;
  font-size: 400%;
  padding: 2px 15px 2px 30px;
}

header a,
.title a {
  text-decoration: none;
}

/* avatar image property */
img {
  max-width: 70px;
  max-height: 65px;
  padding: 8px 4px 0px;
  border-radius: 12px;

}

/* responsive layout that adapts to my viewport */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0 0 100%;
  -ms-flex-align: start;
  justify-content: right;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--light-blue);
  font-size: 1.4rem;
  border-bottom: 4px solid var(--light-blue);
  margin: 4px;
}

/* 
navbar link changes to lightblue when it is active */
nav a:hover,
div a:hover {
  background-size: 100% 100%;
  background-color: var(--light-blue);
  color: var(--white);
}

nav a:last-child {
  margin-right: 0;
}

/* banner */
.hero {
  padding: 4% 4% 1%;
  height: 150px;
  background: url("../public/img/hero.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero div {
  flex: 0 0 90%;
  position: retlative;
}

.page-wrapper {
  max-width: 88%;
  margin: 0 auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

/* 1st child of the of the page-section class */
.page-section>h2 {
  flex: 0 0 100%;
  text-align: right;
  padding-right: 5px;
  border-right: 6px solid var(--dark-blue);
  font-size: 4vw;
  line-height: 1.1;
  color: var(--dark-blue)
}

.page-section>div {
  flex: 0 0 77%;

}

.page-section p {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 22px;
  color: var(--dark-blue);
  line-height: 1.5;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.flex-item {
  border: 5px solid var(--light-blue);
  display: flex;
  min-height: 300px;
  max-height: 300px;
  flex-basis: calc(50% - 1em);
  align-items: flex-end;
  padding: 0px 0px 20px 0px;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 120%;
  font-size: 1.4rem;
  color: var(--dark-blue);
}

/* .flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
} */

.flex-item:hover {
  background: rgba(0, 0, 0, 0.3);
}

#item1,
#item2,
#item3,
#item4,
#item5 {
  opacity: 0.90;
  background-position: center center;
  background-size: cover;

}

/* image from unsplash - thanks to Sebastien-Gabriel */
#item1 {
  background-image: url("../public/img/beach.jpg");
}

/* image from unsplash - thanks to Luke Chesser */
#item2 {
  background-image: url("../public/img/ledlight.jpg");
}

/* image from unsplash - thanks to Bernard Hermant */
#item3 {
  background-image: url("../public/img/analysis.jpg");
}

/* image from unsplash - thanks to Hans Peter Gauster */
#item4 {
  background-image: url("../public/img/puzzle.jpg");
}

/* image from unsplash - Oscar Sutton */
#item5 {
  background-image: url("../public/img/oscar-sutton.jpg");
}

a>div {
  background: var(--light-blue);
  padding: 4px;
}

a div>span {
  font-size: 1.1rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: white;
  padding: 5px;
  font-size: 1.3rem;
  display: inline-block;
  color: var(--dark-blue);
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  padding-bottom: 1px;
  border-bottom: 4px solid var(--dark-blue);

}

/* On screens that are px 768or less, set the font-size of h2 to 90% */
@media screen and (max-width: 768px) {
  a>div {
    font-size: 95%;
  }
}

/* On screens that are px 300or less, set the font-size of h2 to 90% */
@media screen and (max-width: 380px) {
  a>div {
    font-size: 95%;
  }
}